body {
    background-image: url("/images/k.jpg");
}
.container {
    padding: 25px;
    background-color: lightsteelblue;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 250px;
   /* text-align: center;*/background-repeat:no-repeat;

}